:root {
    --backgroundImage: url('default-image.jpg');
}

html {
    background-color: rgb(10, 10, 10);
    color: rgb(228, 228, 228);
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: rgb(228, 228, 228);
    padding: 15px;
    transition: width 0.3s ease-in-out;
    width: 57px;
    height: 57px;
    border-color: rgb(228, 228, 228, 00);
}

#buttons .extended {
    width: 150px;
}

#buttons button p {
    display: none;
}

#buttons .extended p {
    display: block !important;
}

img {
    image-rendering: auto;
}

nav {
    display: flex;
    height: 50px;
    z-index: 1000;
}

nav .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.navContainer a {
    height: 80%;
}

.navContainer a img {
    height: 99%;
    image-rendering: pixelated;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

#series {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.seriesLayout {
    width: 200px;
    height: 300px;
}

.series {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-origin: 50% 80%;
}

.series:hover {
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    transform: scale(1.20);
}

.series #type {
    position: absolute;
    left: 0;
    bottom: 6px;
    border-top-right-radius: 5px;
}

.series #name,
.series #type {
    display: none;
}

.series:hover #name,
.series:hover #type {
    display: block;
}

#img {
    width: 100%;
    border-radius: 8px;
    animation: slideIn 1s ease-in-out;
}

.series:hover #img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.episode-card {
    display: flex;
    background-color: rgb(15, 15, 15, 0.7);
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 200px;
}

.episode-card #image {
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.episode-card #description {
    width: 50%;
    padding-top: 10px;
}

.episode-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.episode-description {
    font-size: 15px;
    margin: 0;
    color: rgb(122, 122, 122);
}

.episode-info {
    border-radius: 8px;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% -20px);
}

#background {
    margin-top: -50px;
    position: sticky;
    background-image: var(--backgroundImage);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    position: relative; 
}

#background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    z-index: 1;
}

#background > * {
    position: relative; 
    z-index: 2; 
}

#mobileBackground {
    height: 0px;
}

select {
    background-color: rgb(32, 32, 32);
    color: rgb(228, 228, 228);
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 25px;
}

.age {
    display: inline-block;
    color: rgb(177, 177, 177);
    border: 1px solid rgb(177, 177, 177);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}

.age::after {
    content: '+';
    display: inline;
    text-align: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 122px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 8vh;
}

.landing {
    width: 30%;
    margin-top: 15vh;
    height: 85vh;
}

#information {
    color: rgb(177, 177, 177);
}

button {
    background-color: rgb(32, 32, 32);
    color: rgb(228, 228, 228);
    border: 2px outset rgb(228, 228, 228);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

#buttons {
    display: flex;
    gap: 20px;
}

.watch-button {
    margin-right: 30px;
}
.watch-button img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.typeCard {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    
}

.typeCard img {
    height: 100px;
}

@media screen and (max-width: 1200px) {
    .episode-card #description {
        width: 100%;
    }
    .episode-info #title {
        font-size: medium;
    }
    .episode-info #number, .episode-info #duration {
        font-size: small;
    }
}

@media screen and (max-width: 1000px) {
    .m10-fd-c {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #background {
        height: 50vw;
        content: var(--backgroundImage);
        padding: 0;
        background-image: none;
        object-fit: cover;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
    }

    .navContainer img {
        content: url('../assets/img/cryonium-small.png');
    }

    #logo {
        margin: 0;
        margin-bottom: 10px;
    }
    
    .series {
        width: 100%;
    }

    .typeCardDiv {
        width: calc(50% - 10px);
    }

    .typeCard {
        width: calc(100% - 10px);
        padding: 5px;
        border-radius: 5px;
    }

    .typeCard img {
        width: 100%;
        height: auto;
    }
    
    .episode-card {
        display: flex;
        flex-direction: column;
        background-color: rgb(32, 32, 32);
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
        height: auto;
        
    }

    .episode-card #image {
        height: 50vw;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    
    .margin {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .landing {
        margin-top: -60px;
        width: 90%;
        height: 85vh;
    }
}