html {
    background-color: rgb(44, 44, 44);
    height: 100%;
    color: rgb(228, 228, 228);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    image-rendering: auto;
}

nav {
    display: flex;
    background-color: rgb(32, 32, 32);
    height: 80px;
}

nav .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.navContainer a {
    height: 80%;
}

.navContainer a img {
    height: 99%;
    image-rendering: pixelated;
}

.margin {
    margin-left: 10%;
    margin-right: 10%;
}

#series {
    display: flex;
    flex-wrap: wrap;

}

.serie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.serie:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    transform: translateY(-5px);
}

#img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation: slideIn 1s ease-in-out;
}

.episode-card {
    display: flex;
    background-color: rgb(32, 32, 32);
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 300px;
}

.episode-card #image {
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.episode-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.episode-description {
    font-size: 15px;
    margin: 0;
    color: rgb(122, 122, 122);
}

.serie-template {
    display: flex;
    background-color: rgb(32, 32, 32);
    width: 40%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.serie-template:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    transform: translateY(-5px);
}

.episode-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px;
}

#mainImage {
    padding-top: 20px;
    position: sticky;
    background-image: url("assets/img/main.png");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

select {
    background-color: rgb(32, 32, 32);
    color: rgb(228, 228, 228);
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.more-info {
    display: flex;
}

.more-info p {
    margin: 0;
    color: rgb(122, 122, 122);
}

@media screen and (max-width: 800px) {
    .serie {
        width: 100%;
    }

    .episode-card {
        display: flex;
        background-color: rgb(32, 32, 32);
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 200px;
    }

    .serie-template {
        width: 100%;
    }

    .margin {
        margin-left: 5%;
        margin-right: 5%;
    }

    #mainImage {
        background-image: none;
    }
}