#icons object {
    width: 20px;
    height: 20px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container img {
    width: 50px;
    height: auto;
}

.tooltip-text {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    color: #fff;
    text-align: start;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    transform: translateX(0);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 200px;

}

.episode-card {
    display: flex;
    background-color: rgb(15, 15, 15, 0.7);
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 200px;
}

.episode-card span {
    color: white;
}

.episode-card #image {
    object-fit: cover;
    height: 100%;
    width: 355px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.episode-card #description {
    width: 50%;
    padding-top: 10px;
}

.episode-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.episode-description {
    font-size: 15px;
    margin: 0;
}

.episode-info {
    border-radius: 8px;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% -20px);
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.episode-duration {
    bottom: 10px;
    right: 10px;
}

#season-selector {
    background-color: rgb(65, 65, 65);
    color: rgb(228, 228, 228);
    border: none;
    border-radius: 8px;
    font-size: large;
    padding: 10px;
    padding-left: 20px;
}

.Soft,
.Unnamed {
    color: rgb(177, 177, 177);
}

.Medium,
.Named {
    color: yellow;
}

.Intense,
.Major {
    color: red;
}

@media screen and (max-width: 1200px) {
    .episode-card #description {
        width: 100%;
    }
    .episode-info #title {
        font-size: medium;
    }
    .episode-info #number, .episode-info #duration {
        font-size: small;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  #episodes {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }
  .episode-card {
      display: flex;
      flex-direction: column;
      background-color: rgb(32, 32, 32);
      width: calc(50% - 10px);
      border-radius: 8px;
      margin-bottom: 20px;
      height: auto;
  }
}

@media screen and (max-width: 800px) {
    .episode-card #description {
        width: 100%;
    }
    .episode-info #title {
        font-size: medium;
    }
    .episode-info #number, .episode-info #duration {
        font-size: small;
    }
  
    .image-container {
        width: 100%;
        height: auto;
    }
  
    .episode-card #image {
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 500px) {
    .episode-card {
        display: flex;
        flex-direction: column;
        background-color: rgb(32, 32, 32);
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
        height: auto;
    }
}